:root {
	--tmaverage-color: #000;
	--tmcoreaverage-color: #3A75C4;
	--tmlangaverage-color: #FFC1BA;
	--tmaesaverage-color: #A1CAFF;
	--tmsoaverage-color: #B9CC6C;
	--tmnoaverage-color: #ccc;
	--grade1-color: #c8522e;
	--grade2-color: #e68d10;
	--grade3-color: #ede911;
	--grade4-color: #a7cc12;
	--grade5-color: #2bd622;
	--grade6-color: #f03232;
	--grade7-color: #000;
};

.tmaverage{fill: var(--tmaverage-color); color: var(--tmaverage-color);}
.tmcoreaverage{fill: var(--tmcoreaverage-color); color: var(--tmcoreaverage-color); stroke: var(--tmcoreaverage-color);}


/*Teacher grade box fonts*/
.tgradebig {font-size:1em;}
.tgradesmall {font-size:0.75em;}

.tclasstitle{text-align:center;}
.tsubjtitle{text-align:center;}

.tabselected {background-color: #ccc;}	
#charttitle {text-decoration: underline; font-weight: bold;}
table {border-collapse: collapse;}
#stutable > * > td {border: 1px solid #ccc;}
#avrow {border-top: 2px solid #000;}
#charts {display:flex;}
#charts > .chart {display: inline-flex;}
#toptabs > * > * > td{border:1px solid #bbb;}
.tabs > * > * > td {border: 1px solid #ccc;}
.tgradeholder {display:flex;
							width: 70%;
						   flex-wrap: wrap;
						   padding: 0px;}
#teacherclassholder > div {display:flex;}
.gradebox {border-radius: 25px;
		   border: 4px solid #000;
		   padding: 7px;
		   height: 50px;
		   width: 156px;
		   margin: 2px;
		   display: inline-flex;
		   justify-content: center;
		   align-items: center;
		   font-family: Open Sans;}
.gradelettercircle {
		   border-radius: 50%;
		   border: 7px solid ;	
		   padding: 0px;
		   text-align: center;
		   line-height: 35px;
		   width: 35px;
		   height: 35px;
		   font-size: 22px;
		   font-weight: bold;
		}
.gradechangecircle {
			position:relative;
			float:left;
			left: -16px;
			top: -12px;
			border-radius: 50%;
			border: 4px solid ;
			background: #fff;
			padding: -12px;
			text-align: center;
			line-height: 12px;
			width: 12px;
			height: 12px;
			font-size: 9px;
			font-weight: bold;
}
.gradeboxStudentName {
		   margin: -7px;
		   font-weight: bold;
		   width: 100px;
		   overflow: hidden;
}



/* grade colours (need to be at the bottom to give precedance)*/
.grade1 {background-color: var(--grade1-color);}
.grade2 {background-color: var(--grade2-color);}
.grade3 {background-color: var(--grade3-color);}
.grade4 {background-color: var(--grade4-color);}  /*B*/
.grade5 {background-color: var(--grade5-color);}  /*A*/
.grade6 {background-color: var(--grade6-color);}  /*F*/
.grade7 {background-color: var(--grade7-color); color: #fff;}
.grade1border {border-color: var(--grade1-color);}
.grade2border {border-color: var(--grade2-color);}
.grade3border {border-color: var(--grade3-color);}
.grade4border {border-color: var(--grade4-color);}  /*B*/
.grade5border {border-color: var(--grade5-color);}  /*A*/
.grade6border {border-color: var(--grade6-color);}  /*F*/
.grade7border {border-color: var(--grade7-color);}

/*grade change colours*/ 
.changem7 {background-color :#f00; font-weight: bold;}
.changem6 {background-color :var(--grade6-color);}
.changem5 {background-color :#f55;}
.changem4 {background-color :#f88;}
.changem3 {background-color :#faa;}
.changem2 {background-color :#fcc;}
.changem1 {background-color: #fee;}
.change0 {color: #ccc;} 
.change1 {background-color: #efe;}
.change2 {background-color: #cfc;}
.change3 {background-color: #afa;}
.change4 {background-color: #8f8;}
.change5 {background-color: #5f5;}
.change6 {background-color: var(--grade5-color)}
.change7 {background-color: #0f0; color: #f00; font-weight: bold;}
.changeblank {background-color :#fff; color:#fff;}
.gradechangedownborder {border-color: #f00;}
.gradechangeupborder {border-color: #0f0;}
.nogradechangeborder {visibility: hidden;}